/* 
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* padding: 1rem; */
}
.header {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}
nav {
  justify-content: center;
  display: flex;
  font-size: 20px;
  gap: 0.5rem;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  color: white;
}

nav a {
  display: inline-block;
  color: white;
  text-decoration: none;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

.notice {
  color: green;
}

section.product {
  display: flex;
  gap: 1rem;
  flex-direction: row;
}

section.product img {
  border-radius: 8px;
  flex-basis: 50%;
  max-width: 50%;
}
/* 

 */
section.product {
  margin-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 20px;
}
.title-chung {
  color: red;
}
.form-edit {
  margin-top: 20px;
  padding: 20px;
  font-size: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/*  trang chi tiet san pham */
.btn-show-controls {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.btn-show-controls a {
  padding: 2px 10px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 16px;
}
.btn-show-controls a:first-child {
  background: #ffb703;
  color: white;
}
.btn-show-controls button {
  background: #c1121f;
  color: white !important;
  font-size: 16px;
  border-radius: 4px;
  padding: 2px 10px;
  border: none;
  outline: none;
}
.btn-show-controls .btn-back a {
  background: #415a77;
}
.name-show {
  font-size: 40px;
  margin-bottom: 20px;
}
/* trang chur */
.tittle-web {
  border: 1px solid;
  display: flex !important;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn-new {
  display: flex;
  justify-content: center !important;
  align-items: center;
}
.btn-new a {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  background: #3a5a40;
  color: white;
  border-radius: 4px;
  transition: 0.5s;
  margin-bottom: 20px;
}
.btn-new a:hover {
  background: #60d394;
}
#products {
  border: 1px solid black !important;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap !important;
}
.item-product {
  flex: 1 1 23%; /* 23% để đảm bảo có không gian cho khoảng cách giữa các phần tử */
  margin: 1%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 50px;
  overflow: hidden;
}
.item-product a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
  width: 100%;
  display: block !important;
  height: 100%;
  text-align: center;
}
.item-product a:hover {
  background: #2c6e49;
  color: white;
}
