<h1 class ="tittle-web"><%= t ".title" %></h1>
<div class="btn-new">
<h2>ok</h2>
<%= link_to "New product", new_product_path if authenticated? %>
</div>
<div class="container container-trang-chu">
<%= link_to "Login", new_session_path unless authenticated? %>
<div id="products">
  <% @products.each do |product| %>
    <div class="item-product">
      <%= link_to product.name, product %>
    </div>
  <% end %>
</div>
</div>
